<% if @user.errors.any? %>
    <h2>The following error(s) prevented the user from being created:</h2>
    <ul>
        <% @user.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
    </ul>
<% end %>

<div class="mt-0">
<%= form_with(model: @user, local: true) do |f| %>
    <div class="bg-none rounded px-8 pt-6 pb-8 mb-4 flex flex-col h-5/6">
        <div class="mb-4">
            <%= f.label :username, class: "block text-grey-darker text-sm font-bold mb-2" %>
            <%= f.text_field :username, class: "appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
        </div>
        <div class="mb-1">
            <%= f.label :password, class: "block text-grey-darker text-sm font-bold mb-2" %>
            <%= f.password_field :password, class: "appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
            <%= f.submit "Sign Up", class: "text-teal-900 font-bold py-2 px-4 rounded border border-teal-500 hover:border hover:border-teal-800 hover:bg-green-300 mt-2 self-center" %>
        </div>
    </div>
<% end %>
</div>